body {
background-color: #ffffff;
}

  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: transparent;
    border-top: 1px solid #919191;
  }
  
  .text-footer {
    margin-bottom: 0;
    color: #616161;
    text-decoration: none;
    font-size: 10px;
  }
  
  .footer p {
    font-size: 16px;
    padding-left: 38px;
    color: #808080;
  }
  
  .footer h5 {
    font-size: 20px;
    padding-left: 38px;
    color: #616161;
  }
  
  .text-footer:hover {
    color: #007bff;
  }

  h2 {
    padding-top: 50px;
  }

  h4 {
    padding-bottom: 55px;
    color: #007bff;
  }

  .card {
    flex: 0 1 calc(50% - 20px);
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 10px;
    margin-bottom: 40px;
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(126, 126, 126, 0.2), 0px 6px 6px rgba(122, 122, 122, 0.2);
  }

  iframe {
    padding-bottom: 50px;
  }

  @media screen and (max-width: 800px) {  
    .card-container h5{
      font-size: 5vw;
    }
  
    .card-container p{
      font-size: 3vw;
    }
  
    .nav-solid {
      background-color: rgba(27, 27, 27, 0.98) !important; /* Altere para a cor desejada */
    }
  
  }