.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* Opção ITEN na sidebar */
#home{
  text-decoration: none;
  padding-left: 20px;
  font-size: 22px;
  color: rgb(46, 152, 212);
  transition: color 0.3s ease;
}

#home:hover{
  color: #6cb3ff;
}

.navbar-collapse.collapse.show .nav-link {
  color: #1b1b1b;
}

.nav-link:hover {
  color: #6cb3ff;
}

/* Sidebar */
#sidebar .form-control {
  box-shadow: none;
  border-color: rgb(46, 152, 212);
  border-radius: 8px;
  background-color:rgb(255, 255, 255);
}

#sidebar .btn-outline-success {
  border-color: rgb(46, 152, 212);
  background-color: #ffffff;
  color: rgb(46, 152, 212);
  border-radius: 8px;
}

#sidebar .btn-outline-success:hover {
  background-color: rgb(46, 152, 212);
  color: white;
}

/* Barra de pesquisa */
.d-flex {
  position: absolute;
  right: 0;
  padding-right: 30px;
}

.navbar, .bg-body-tertiary {
  background-color: transparent !important;
  transition: background-color 0.5s ease;
}

.nav-link {
  transition: color 0.3s ease;
}

.bg-body-tertiary-opaque {
  background-color: rgba(27, 27, 27, 0.98) !important;
}

.bg-body-tertiary-opaque .nav-link {
  color: white !important;
}

.bg-body-tertiary-opaque .nav-link:hover {
  color: rgb(46, 152, 212) !important;
}

.navbar-brand {
  margin-left: 18px;
  color: rgb(46, 152, 212);
}

#navbarNav {
  padding-left: 18px;
}

.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #000000;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  line-height: 58px;
  box-shadow: 2px 2px 3px #000000;
  z-index: 100;
  transition: all 0.1s ease-in-out;
}

.whatsapp_float:hover {
  transform: scale(1.1);
  color: #25d366;
}


/* Formulário para mostrar as certificações*/
.carousel-item img {
  object-fit: contain;
  height: 500px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.5);  /* Seta semi-transparente */
    border-radius:80px;
    width: 40px; /* Largura da seta */
    height: 40px; /* Altura da seta */
}

.carousel-control-prev {
    justify-content: start !important;
}

.carousel-control-next {
    justify-content: end !important;
}


@media screen and (max-width: 800px) {

.navbar-collapse.collapse.show .nav-link {
  color: #fff;
}

.navbar-collapse.collapse.show .nav-link:hover {
  color: #6cb3ff;
}

.navbar, .bg-body-tertiary {
  background-color: rgba(39, 39, 39, 0.93) !important;
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.d-flex {
  position: relative;
}

.whatsapp_float {
  line-height: 64px;
}

}