body::after {
  content: "";
  background-image: url('https://cdn.pixabay.com/photo/2019/12/29/02/33/snow-4726119_1280.jpg');
  background-size:50%;
  background-position: center;
  filter: blur(60px);
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.logoIndex {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 130px;
  height: auto;
  animation: flutuacao 4s infinite;
}

@keyframes flutuacao {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.conteudo {
  padding-left: 5%;
  padding-right: 5%;
}

.intro {
  padding-left: 1%;
  padding-top: 3%;
  padding-bottom: 10%;
}

h1 {
  text-align: left;
  font-size: 46px;
  color: rgb(53, 53, 53);
  padding-top: 60px;
}

h2 {
  text-align: left;
  font-size: 32px;
  padding-top: 2%;
}

p {
  font-size: 22px;
}

#welcome2 {
  text-align: left;
  color:rgb(46, 46, 46);
  margin-top: 20px;
  padding-right: 20%;
  font-size: 34px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card, .card2 {
  flex: 0 1 calc(50% - 20px);
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(126, 126, 126, 0.05), 0px 6px 6px rgba(122, 122, 122, 0.05);
  transition: all 0.1s ease-in-out;
}

.card2 {
  border-radius: 15px;
  margin: 40px;
  box-shadow: 0px 10px 20px rgba(126, 126, 126, 0.1), 0px 6px 6px rgba(122, 122, 122, 0.1);
}

.card:hover {
  transform: scale(0.95);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card-title {
  font-size: 30px;
}

.card-text {
  font-size: 20px;
}

#cards {
  display:flex;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  margin-top: 10%;
  background-color: transparent;
  border-top: 1px solid #919191;
}

.text-footer {
  margin-bottom: 0;
  color: #616161;
  text-decoration: none;
  font-size: 10px;
}

.footer p {
  font-size: 16px;
  color: #808080;
}

.footer h5 {
  font-size: 20px;
  color: #616161;
}

.text-footer:hover {
  color: #007bff;
}

.accordion-button {
  font-size: 30px;
}


@media screen and (max-width: 800px) {
  .card {
      flex: 0 1 calc(100% - 20px);  /* Em telas menores, cada card ocupará toda a linha */
  }

  h1{
    font-size: 34px;
  }

  h2{
    font-size: 4vw;
  }

  p {
    font-size: 4vw;
  }

  .logoIndex {
    width: 100px;
    padding-top: 120px;
  }

  #welcome2 {
    padding-right: 2%;
    font-size: 24px;
  }

  .card-container h5{
    font-size: 6vw;
  }

  .card-container p{
    font-size: 4vw;
  }

}